body{
    font-family: Arial, Helvetica, sans-serif;
}

.pslogo{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #0226fd;
    color: white;
    padding: 40px;
    text-align: center;
}

#navbar {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #3552FD;
    position: sticky;
    top: 0;
    width: 100%;
}
  
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

#navbar a:hover {
    background: #6279f9;
    color: white;
}


#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #0226fd;
    color: white;
    text-align: center;
    font-size: 9px;
    font-weight: lighter;
}
